@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	@apply text-second
}
*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	-webkit-tap-highlight-color: transparent;
}
.grad {
	background-image: linear-gradient(theme('colors.prime'),theme('colors.flash'));
}
button:focus {
	@apply outline-none
}
.loader {
	border: 0.25rem solid theme('colors.second-10');
	border-top: 0.25rem solid theme('colors.second');
	animation: spin 0.75s linear infinite;
	@apply rounded-full w-6 h-6
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
